@model WebApp.ViewModels.UserAssignmentListViewModel

@{
    ViewData["Title"] = "Alla inlämningar";
}
<a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h2>Alla studentinlämningar</h2>
<div>
<h5>@Model.Assignment.Name</h5>
<h6 class="font-italic">Sista inlämningsdag: @Convert.ToString(string.Format("{0:yyyy/MM/dd}", Model.Assignment.Deadline))</h6>
</div>

<div class="row">

    <div class="d-none d-sm-table-cell col-lg-7 col-md-6 col-sm-5"></div>
    <div class="d-none d-sm-table-cell col-md-4 col-sm-5">Inlämnad</div>
    <div class="d-none d-sm-table-cell col-lg-1 col-md-1 col-sm-1"></div>
    <div class="d-none d-sm-table-cell col-lg-1 col-md-1 col-sm-1"></div>

</div>
<hr />
@foreach (var user in Model.Users)
{
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-5">
            <h6>@user.FirstName @user.LastNames</h6>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-5">
            @{
                if (Model.UserAssignments.Any(ua => ua.UserId == user.Id))
                {
                    if (Model.UserAssignments.SingleOrDefault(ua => ua.UserId == user.Id).ReturnDate.Date == DateTime.MinValue)
                    {
                        <label class="text-danger">Ej inlämnad</label>
                    }
                    else if (Model.UserAssignments.SingleOrDefault(ua => ua.UserId == user.Id).ReturnDate.Date <= Model.Assignment.Deadline)
                    {
                        <label class="text-success">@Convert.ToString(string.Format("{0:yyyy/MM/dd}", @Model.UserAssignments.SingleOrDefault(ua => ua.UserId == user.Id).ReturnDate))</label>
                    }
                    else
                    {
                        <label class="text-danger">@Convert.ToString(string.Format("{0:yyyy/MM/dd}", @Model.UserAssignments.SingleOrDefault(ua => ua.UserId == user.Id).ReturnDate))</label>
                    }
                }
                else
                {
                    <label class="text-danger">Ej inlämnad</label>
                }
            }
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            @if (Model.UserAssignments.Any(ua => ua.UserId == user.Id))
            {
            @Model.UserAssignments.SingleOrDefault(ua => ua.UserId == user.Id).Grade
            }
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            @Html.ActionLink(linkText: "Visa", actionName: "EditUserAssignment", controllerName: "UserAssignment", new { CourseId=Model.Assignment.CourseId, AssignmentId=Model.Assignment.Id, UserId=user.Id })
        </div>

    </div>
    <hr />
}