@model WebApp.ViewModels.ProfileViewModel
<h1>Profil</h1>
@if (Model != null)
{
    <h4>@Model.User.FirstName @Model.User.LastNames</h4>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProfilePage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Telefon</label>
                <input asp-for="Phone" value="@Model.User.Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">E-post</label>
                <input asp-for="Email" value="@Model.User.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label">Adresss</label>
                <input asp-for="Address" value="@Model.User.Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Stad</label>
                <input asp-for="City" value="@Model.User.City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label">Postnummer</label>
                <input asp-for="PostalCode" value="@Model.User.PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        
        Kurser:
        @foreach (var courseParticipant in Model.CourseParticipantList)
        {
            <div class="bg-light">
            @foreach (var course in Model.CourseList.Where(c=>c.Id==courseParticipant.CourseId))
            { 
                    <div>
                        @course.Name
                    </div>
            }
            
            <div>
                @courseParticipant.Status
            </div>
            </div>
            <br />
        }

    </div>
</div>