@model WebApp.ViewModels.AdminChangeProfileViewModel
@{
    ViewData["Title"] = "Admin ändra profil";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>Ändra namn</h1>

<h4>@Model.User.FirstName @Model.User.LastNames, @Model.User.SocialSecurityNr</h4>
<hr />
<div>
    <div class="col-md-4">
        <form asp-action="AdminChangeProfile">
            @Html.HiddenFor(m => m.UserId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Förnamn</label>
                <input asp-for="FirstName" value="@Model.User.FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNames" class="control-label">Efternamn</label>
                <input asp-for="LastNames" value="@Model.User.LastNames" class="form-control" />
                <span asp-validation-for="LastNames" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SocialSecurityNr" class="control-label">Personnummer</label>
                <input asp-for="SocialSecurityNr" value="@Model.User.SocialSecurityNr" class="form-control" />
                <span asp-validation-for="SocialSecurityNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSuperUser" class="control-label">SuperUser</label>
                @Html.CheckBox("IsSuperUser")
                @*<input asp-for="IsSuperUser" value="@Model.IsSuperUser" class="form-control" />*@
                <span asp-validation-for="IsSuperUser" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Ändra" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="col-md-4">
    @{
        if (Model.User.ProfilePicture != null)
        {
            var base64 = Convert.ToBase64String(Model.User.ProfilePicture.Binary);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            <img src="@imgsrc" style="max-width:100px;max-height:120px" class="rounded-circle" />
            <div>
                @await Html.PartialAsync("_AdminRemoveProfilePicture", new WebApp.ViewModels.RemoveProfilePicture() { UserId = Model.UserId, Picture = Model.User.ProfilePicture.Binary })
            </div>
        }
        else
        {
            <img src="~/user-solid.svg" style="max-width:100px;max-height:120px;" class="rounded-circle" />
        }
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
