@model WebApp.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "ProfilePage";
}

<h1>Profil</h1>
<h4>@Model.User.FirstName @Model.User.LastNames</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProfilePage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Nummer</label>
                <input asp-for="Phone" value="@Model.User.Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" value="@Model.User.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <label asp-for="Address" class="control-label">Adress</label>
                <input asp-for="Address" value="@Model.User.Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Stad</label>
                <input asp-for="City" value="@Model.User.City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label">Postnummer</label>
                <input asp-for="PostalCode" value="@Model.User.PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="ProfilePageModal" data-toggle="modal" data-target="#registerModal">Ändra lösenord</a>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ändra lösenord</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="ChangePassword">
                <div class="form-group modal-body">
                    <label asp-for="Password" class="control-label">Nuvarande lösenord</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group modal-body">
                    <label asp-for="NewPassword" class="control-label">Nytt lösenord</label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group modal-body">
                    <label asp-for="ReNewPassword" class="control-label">Upprepa nytt lösenord</label>
                    <input asp-for="ReNewPassword" type="password" class="form-control" />
                    <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                    <input type="submit" asp-action="ChangePassword" value="Spara" class="btn btn-primary" />
                </div>
            </form>


        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
