@model System.Collections.Generic.List<Database.Models.User>

@{
    ViewData["Title"] = "Alla användare";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>Alla användare</h1>



@foreach (var item in Model) {
<div class="bg-light ">
    <div class="alert-primary">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastNames)</div>
    <div> @Html.DisplayFor(modelItem => item.SocialSecurityNr), SuperUser: @Html.DisplayFor(modelItem => item.IsSuperUser)</div>
    
    <div><a class="btn btn-sm btn-primary" asp-area="" asp-controller="Profile" asp-action="AdminChangeProfile" asp-route-Id="@item.Id">Ändra</a></div>
</div>   
<hr />     
         
}

