@model WebApp.ViewModels.AdminCourseParticipantViewModel

@{
    ViewData["Title"] = "AdminCourseParticipant";
}

<h1>AdminCourseParticipant</h1>

<h4>CourseParticipantViewModel</h4>
<hr />

@foreach (var cp in Model.CourseParticipantList)
{
<div>
    @Html.HiddenFor(c => cp.Id)
    <div><label>Användarid: </label>@Html.DisplayFor(c => cp.UserId)</div>
    @foreach (var course in Model.CourseList.Where(d => d.Id == cp.CourseId))
    {
        <div><label>Kurs: </label>@Html.DisplayFor(d => course.Name)</div>
    }
    <div><label>Status: </label>@Html.DisplayFor(c => cp.Status)</div>
    <a class="btn btn-info" asp-area="" asp-controller="CourseParticipant"
       asp-action="EditCourseParticipant" asp-route-Id="@cp.Id">Ändra</a>
</div>
    }


<div>
    <a asp-action="Index">Back to List</a>
</div>

