@model IEnumerable<WebApp.ViewModels.CourseParticipantViewModel>
<a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>Deltagare för kursen</h1>

<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">
                        Namn
                    </th>
                    <th scope="col">
                        Roll
                    </th>
                    <th scope="col">
                        Status
                    </th>
                    <th scope="col">
                        Betyg
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.Role == Database.Models.Roles.Lärare)
                        {
                            <td class="font-weight-bolder table-info">
                                <a href="@Url.ActionLink("GetPublicProfile", "Profile", new { userId = item.UserId })">@item.Name</a>
                            </td>
                            <td class="font-weight-bolder table-info">
                                @item.Role

                                </td>
                                <td class="font-weight-bolder table-info">
                                    @item.Status
                                </td>
                                <td class="font-weight-bolder table-info">
                                    @item.Grade
                                </td>
                                <td class="font-weight-bolder table-info">
                                    <a asp-area="" asp-controller="CourseParticipant" asp-action="EditCourseParticipant" asp-route-Id="@item.Id">Ändra</a>
                                </td>

                        }
                        else
                        {
                            <td>
                                <a href="@Url.ActionLink("GetPublicProfile", "Profile", new { userId = item.UserId })">@item.Name</a>
                            </td>
                            <td>
                                @item.Role

                                </td>
                                <td>
                                    @item.Status
                                </td>
                                <td>
                                    @item.Grade
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="CourseParticipant" asp-action="EditCourseParticipant" asp-route-Id="@item.Id">Ändra</a>
                                </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
