@model WebApp.ViewModels.EditCourseParticipantViewModel

@{
    ViewData["Title"] = "EditCourseParticipant";
}

<h1>EditCourseParticipant</h1>

<h4>EditCourseParticipantViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCourseParticipant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(item=>item.Id)
            
            <div class="form-group">
                <label asp-for="UserId" class="control-label">AnvändarId</label>
                <input asp-for="UserId" value="@Model.UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label">Roll</label>
                <input asp-for="Role" value="@Model.Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label">Betyg</label>
                <input asp-for="Grade" value="@Model.Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <input asp-for="Status" value="@Model.Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

