@model IEnumerable<WebApp.ViewModels.CourseParticipantViewModel>

<h1>Deltagare för kursen</h1>

<a href="##" onClick="history.go(-1); return false;">Gå tillbaks</a>
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">
                        Namn
                    </th>
                    <th scope="col">
                        Roll
                    </th>
                    <th scope="col">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.Role == Database.Models.Roles.Teacher)
                    {
                        <td class="font-weight-bolder table-info">
                            @item.Name
                        </td>
                        <td class="font-weight-bolder table-info">
                            <select asp-for="@item.Role" asp-items="Html.GetEnumSelectList<Database.Models.Roles>()"></select>
                        </td>
                        <td class="font-weight-bolder table-info">
                            <select asp-for="@item.Status" asp-items="Html.GetEnumSelectList<Database.Models.Status>()"></select>
                        </td>
                        <td class="font-weight-bolder table-info">
                            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="CourseParticipant"
                               asp-action="AddCourseParticipant" asp-route-Id="@item.Id"></a>
                        </td>
                        
                    }
                    else
                    {
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <select asp-for="@item.Role" asp-items="Html.GetEnumSelectList<Database.Models.Roles>()"></select>
                        </td>
                        <td>
                            <select asp-for="@item.Status" asp-items="Html.GetEnumSelectList<Database.Models.Status>()"></select>
                        </td>

                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
